[Unit]
Description=bluetooth macaddrsetup
After=bluetooth.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /usr/bin/droid/btaddr.sh

[Install]
WantedBy=network.target
