[Unit]
Description=Droid mount for /system/etc/ld.config.28.txt
After=system.mount vendor.mount
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/mount --bind /usr/libexec/droid-hybris/system/etc/ld.config.28.txt /system/etc/ld.config.28.txt

[Install]
WantedBy=local-fs.target
