[Unit]
Description=Misc stuff to run on device startup
After=local-fs.target
Conflicts=actdead.target factory-test.target rescue.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/droid/startup-misc.sh

[Install]
WantedBy=multi-user.target
